<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details</title>
    <link rel="stylesheet" href="/style/eventDetails.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function() {
            $("#header").load("/components/header.html");
        });
    </script>
</head>

<body>
    <div id="header"></div>
    <div class="event-container">
        <div class="event-name">
            <h3 class="event-title"><%= camp.campYear %></h3>
        </div>
        <div class="event-details">
            <p>
                <span class="detail-label">From Date:</span> <%= camp.fromDate.toLocaleDateString("en-GB")  %><br>
                <span class="detail-label">To Date:</span> <%= camp.toDate.toLocaleDateString("en-GB")  %><br>
                <span class="detail-label">Camp Site:</span> <%= camp.campSite %><br>
                <span class="detail-label">Address:</span> <%= camp.address %><br>
                <span class="detail-label">preCampActivities:</span> <%= camp.preCampActivities %><br>
                <span class="detail-label">Total Participants:</span> <%= camp.attendedBy.length %><br>
                <span class="detail-label">Activity Daywise:</span><br>
                <span class="detail-label">Day 1:</span><br> <%= camp.activityDaywise[0] %><br>
                <span class="detail-label">Day 2:</span><br> <%= camp.activityDaywise[1] %><br>
                <span class="detail-label">Day 3:</span><br> <%= camp.activityDaywise[2] %><br>
                <span class="detail-label">Day 4:</span><br> <%= camp.activityDaywise[3] %><br>
                <span class="detail-label">Day 5:</span><br> <%= camp.activityDaywise[4] %><br>
                <span class="detail-label">Day 6:</span><br> <%= camp.activityDaywise[5] %><br>
                <span class="detail-label">Day 7:</span><br> <%= camp.activityDaywise[6] %><br>
            </p>
        </div>

        <div class="participants-section">
            <div class="participants-list">
                <h4 class="section-title">Attended By:</h4>
                <table class="participants-table">
                    <thead>
                        <tr>
                            <th>VEC</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% camp.attendedBy.forEach(function(participant) { %>
                            <tr>
                                <td><%= participant.vec %></td>
                                <td><%= participant.name %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        <br><br>
        <div>
            <button class="btn btn-danger" onclick="deleteCamp(`<%= camp._id%>`)">Delete Camp Details</button>
        </div>

    </div>
</body>
<script>
    function deleteCamp(campId){
    fetch('/admin/campDisplay/deleteCamp', {
        method: 'DELETE',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ campId }),
    })
      .then(response => response.json())
      .then(data => {
        console.log('Response:', data);
        alert(data.message)
        window.location.href = '/admin/showCampDetails';
      })
      .catch(error => {
        console.error('Error:', error);
        alert(error)
      });
    }


</script>
</html>
