<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details</title>
    <link rel="stylesheet" href="/style/eventDetails.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/campDetails.css">
    <script>
        $(function() {
            $("#header").load("/components/header.html");
            $("#footer").load("/components/footer.html");
        });
    </script>
</head>
<body>
    <div id="header"></div>
    <div class="event-container">
        <div class="event-name">
            <h1 class="event-title"><%= camp.campYear %></h1>
        </div>
        <div class="event-details">
            <p>
                <span class="detail-label">From Date:</span> <%= camp.fromDate.toLocaleDateString("en-GB")  %><br>
                <span class="detail-label">To Date:</span> <%= camp.toDate.toLocaleDateString("en-GB")  %><br>
                <span class="detail-label">Camp Site:</span> <%= camp.campSite %><br>
                <span class="detail-label">Address:</span> <%= camp.address %><br>
                <span class="detail-label">Total Participants:</span> <%= camp.attendedBy.length %><br>
                <span class="detail-label"><h4>Pre Camp Activities:</h4></span> <%= camp.preCampActivities %><br>
                <span class="detail-label"><h3>Daywise:</h3></span>
                <span class="detail-label"><h4>Day 1:</h4></span> <%= camp.activityDaywise[0] %><br><br>
                <span class="detail-label"><h4>Day 2:</h4></span> <%= camp.activityDaywise[1] %><br><br>
                <span class="detail-label"><h4>Day 3:</h4></span> <%= camp.activityDaywise[2] %><br><br>
                <span class="detail-label"><h4>Day 4:</h4></span> <%= camp.activityDaywise[3] %><br><br>
                <span class="detail-label"><h4>Day 5:</h4></span> <%= camp.activityDaywise[4] %><br><br>
                <span class="detail-label"><h4>Day 6:</h4></span> <%= camp.activityDaywise[5] %><br><br>
                <span class="detail-label"><h4>Day 7:</h4></span> <%= camp.activityDaywise[6] %><br><br>
            </p>
        </div>

        <div class="participants-section">
            <h4 class="section-title">Attended By:</h4>
            <div class="participants-list">
                <table class="participants-table">
                    <thead>
                        <tr>
                            <th>VEC</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% camp.attendedBy.forEach(function(participant) { %>
                            <tr>
                                <td><%= participant.vec %></td>
                                <td><%= participant.name %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        <br><br>
        <div>
            <button class="btn btn-danger" onclick="deleteCamp('<%= camp._id %>')">Delete Camp Details</button>
        </div>
    </div>
    <div id="footer"></div>
</body>
<script>
    function deleteCamp(campId){
        fetch('/admin/camp/campDisplay/deleteCamp', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ campId }),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Response:', data);
            alert(data.message);
            window.location.href = '/admin/camp/showCampDetails';
        })
        .catch(error => {
            console.error('Error:', error);
            alert(error);
        });
    }
</script>
</html>
