<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Event</title>
  <link rel="stylesheet" href="/style/eventForm.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(function() {
          $("#header").load("/components/header.html");
      });
    </script>
    <style>
              #loadingOverlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9999;
        }

        #loadingOverlay .spinner-border {
            width: 3rem;
            height: 3rem;
        }

        .alert-container {
            position: fixed;
            top: 1rem;
            right: 1rem;
            z-index: 9999;
        }
    </style>
</head>

<body>
  <div id="header"></div>
  <div class="container">
    <h1>Add Event</h1>
    <div class="alert-container"></div>

    <div class="form-group">
      <label for="eventName">Event Name:</label>
      <input type="text" id="eventName" name="eventName" required>
    </div>

    <div class="form-group">
      <label for="eventDate">Event Date:</label>
      <input type="date" id="eventDate" name="eventDate" required>
    </div>

    <div class="form-group">
      <label for="venue">Venue:</label>
      <input type="text" id="venue" name="venue" required>
    </div>

    <div class="form-group">
      <label for="content">Content:</label>
      <textarea id="content" name="content" required></textarea>
    </div>

    <div class="form-group">
      <label for="eventLeader">Event Leader:</label>
      <select id="eventLeader" name="eventLeader" required>
        <option value="">Select the Event Leader</option>
        <% users.forEach(user => { %>
        <option value="<%= user.vec %>"><%= user.vec %>: <%= user.name %></option>
        <% }); %>
      </select>
    </div>

    <div class="form-group">
      <label for="organisersHr">Organisers Hr:</label>
      <input type="number" id="organisersHr" name="organisersHr" required>
    </div>

    <div class="form-group">
      <label for="organisers">Organisers:</label>
      <div id="organisers-container">
        <select id="organisers" name="organisers" required>
          <option value="">Select the organisers</option>
          <% users.forEach(user => { %>
          <option value="<%= user.vec %>"><%= user.vec %>: <%= user.name %></option>
          <% }); %>
        </select>
        <div id="selectedOrganiser"></div>
        <button type="button" class="add-participant-btn" onclick="addOrganiser()">+</button>
      </div>
    </div>

    <div class="form-group">
      <label for="hours">Hours for Participants:</label>
      <input type="number" id="hours" name="hours" required>
    </div>

    <h2>Participants</h2>

    <div class="form-group">
      <input type="text" id="searchInput" placeholder="Search by VEC Number">
    </div>
    <div class="participantList">
      <table id="participantTable">
        <thead>
          <tr>
            <th>Selected</th>
            <th>VEC</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(function(user) { %>
          <tr class="participant-row" data-userid="<%= user.vec %>">
            <td>
              <input type="checkbox" class="participant-checkbox" data-userid="<%= user.vec %>">
            </td>
            <td><%= user.vec %></td>
            <td><%= user.name %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>

    

    <div class="form-group">
      <label for="category">Category:</label>
      <select id="category" required>
        <option value="fitIndia">Fit India</option>
        <option value="educationForAll">Education For All</option>
        <option value="animalWellfare">Animal Welfare</option>
        <option value="disasterManagement">Disaster Management</option>
        <option value="greenInitiative">Green Initiative</option>
        <option value="college">College</option>
        <option value="university">University</option>
      </select>
    </div>

    <div class="form-group">
      <label for="numberOfBenificiar">Number of Beneficiaries:</label>
      <input type="number" id="numberOfBenificiar" name="numberOfBenificiar" required>
    </div>

    <div class="form-group">
      <label for="reportWrittenBy">Report Written By:</label>
      <select id="reportWrittenBy" name="reportWrittenBy" required>
        <option value="">Select the Report Written By</option>
        <% users.forEach(user => { %>
        <option value="<%= user.vec %>"><%= user.vec %>: <%= user.name %></option>
        <% }); %>
      </select>
    </div>

    <div class="form-group">
      <input type="file" accept="image/*" id="fileImage">
    </div>

    <button type="submit" onclick="submitEvent()">Add Event</button>
  </div>
  <div id="loadingOverlay" style="display: none;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<script>

  let parti = [];
  let organiser= [];

  const searchInput = document.getElementById('searchInput');
  const participantTable = document.getElementById('participantTable');

  searchInput.addEventListener('input', function() {
    const searchText = searchInput.value.trim().toLowerCase();
    const rows = participantTable.getElementsByTagName('tbody')[0].getElementsByTagName('tr');

    Array.from(rows).forEach(row => {
      const userid = row.cells[1].textContent.toLowerCase();

      if (userid.includes(searchText)) {
        row.style.display = '';
      } else {
        row.style.display = 'none';
      }
    });
  });




  const participantCheckboxes = document.querySelectorAll('.participant-checkbox');
    participantCheckboxes.forEach(checkbox => {
      checkbox.addEventListener('change', function() {
        const userid = checkbox.getAttribute('data-userid');
        const isChecked = checkbox.checked;
        if(isChecked){
          parti.push(userid)
        }else{
          parti = parti.filter(item => item !== userid);
        }
      });
    });


  function addOrganiser(){
    
    organisers = document.getElementById('organisers')
    let selected = organisers.value
    if(selected == ''){
      showErrorAlert('select the organiser first');
    }
    organiser.push(selected)
    selectedDiv = document.getElementById('selectedOrganiser');
    const newPart = document.createElement('span');
    newPart.classList.add('partId');
    const newDiv = document.createElement('span');
    newDiv.setAttribute('id', 'userText');
    newDiv.classList.add('spanUserId');
    newDiv.textContent = selected;
    newPart.appendChild(newDiv);
    selectedDiv.appendChild(newPart);
  }

  function submitEvent(){
  
    eventName = document.getElementById('eventName').value;
    eventDate = document.getElementById('eventDate').value;
    venue = document.getElementById('venue').value;
    content = document.getElementById('content').value;
    eventLead = document.getElementById('eventLeader').value;
    organisersHr = document.getElementById('organisersHr').value;
    hours = document.getElementById('hours').value;
    category = document.getElementById('category').value;
    numberOfBenificiar = document.getElementById('numberOfBenificiar').value;
    reportBy = document.getElementById('reportWrittenBy').value;
    imageFile = document.getElementById('fileImage').files[0];
    if(!imageFile){
      showErrorAlert("enter image")
      return
    }
    if(eventName=='' || eventDate == ''||venue ==''||content == ''|| eventLead ==''||organisersHr==''||hours==''||category==''||numberOfBenificiar==''||reportBy==''){
      showErrorAlert("Enter valid information")
      return
    }
      var formData = new FormData();
      formData.append('eventName', eventName);
      formData.append('eventDate', eventDate);
      formData.append('venue', venue);
      formData.append('content', content);
      formData.append('eventLead', eventLead);
      formData.append('organisersHr', organisersHr);
      formData.append('hours', hours);
      formData.append('category', category);
      formData.append('numberOfBenificiar', numberOfBenificiar);
      formData.append('reportBy', reportBy);
      formData.append('eventImage', imageFile);
      formData.append('parti',parti)
      formData.append('organiser',organiser)
      showLoadingOverlay();
      let allInputs = document.querySelectorAll('input');
      allInputs.forEach(singleInput => singleInput.value = '');
    fetch('/admin/addevent', {
      method: 'POST',
      body: formData
    })
      .then(response => response.json())
      .then(data => {
        hideLoadingOverlay();
        console.log('Response:', data);
        showSuccessAlert(data.message)

      })
      .catch(error => {
        hideLoadingOverlay();
        console.error('Error:', error);
        showErrorAlert(error)
      });

  }

  function showLoadingOverlay() {
            document.getElementById('loadingOverlay').style.display = 'flex';
        }

        function hideLoadingOverlay() {
            document.getElementById('loadingOverlay').style.display = 'none';
        }

        function showSuccessAlert(message) {
            const alertContainer = document.querySelector('.alert-container');
            const alert = document.createElement('div');
            alert.classList.add('alert', 'alert-success', 'alert-dismissible', 'fade', 'show');
            alert.innerHTML = `
                <strong>Success!</strong> ${message}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            `;
            alertContainer.appendChild(alert);

            setTimeout(() => {
                alertContainer.removeChild(alert);
            }, 5000);
        }

        function showErrorAlert(message) {
            const alertContainer = document.querySelector('.alert-container');
            const alert = document.createElement('div');
            alert.classList.add('alert', 'alert-danger', 'alert-dismissible', 'fade', 'show');
            alert.innerHTML = `
                <strong>Error!</strong> ${message}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            `;
            alertContainer.appendChild(alert);

            setTimeout(() => {
                alertContainer.removeChild(alert);
            }, 2000);
        }

</script>
</html>