<!DOCTYPE html>
<html>
<head>
  <title>User Display</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(function() {
      $("#header").load("/components/header.html");
      $("#footer").load("/components/footer.html");
    });
  </script>
  <link rel="stylesheet" href="/style/userDetails.css">
</head>
<body>
  <div id="header"></div>
  <h1>User Details</h1>
  <p>Vec: <%= userDetails.vec %></p>
  <p>Name: <%= userDetails.name %></p>
  <p>Branch: <%= userDetails.branch %></p>
  <p>DIV: <%= userDetails.div %></p>
  <p>SEM: <%= userDetails.sem %></p>
  <p>Contact No: <%= userDetails.contactNo %></p>
  <p>Name Of College: <%= userDetails.nameOfClg %></p>
  <p>DOB: <%= userDetails.dob.toLocaleDateString("en-GB") %></p>
  <p>bloodGroup: <%= userDetails.bloodGroup %></p>
  <p>gender: <%= userDetails.gender %></p>
  <p>address: <%= userDetails.address %></p>
  <p>yearInNss: <%= userDetails.yearInNss%></p>
  <p>Batch:<%= userDetails.batch%></p>
  <p>campAttended: <%= userDetails.campAttended %></p>

  <h2>Events Attended</h2>
  <% if (userDetails.eventsAttended.length > 0) { %>
    
      <h4>Fit India</h4>
      <table>
        <thead>
          <tr>
            <th>Event</th>
            <th>Hours</th>
          </tr>
        </thead>
        <tbody>
          <% fitIndiaHr = 0 %>
          <% userDetails.eventsAttended.forEach(function(event) {%>
            <% if (event.category == "fitIndia") { fitIndiaHr+=event.hour %>
              <tr>
                <td><%= event.eventName %></td>
                <td><%= event.hour %></td>
              </tr>
            <% } %>
          <% }); %>
        </tbody>
        <tr>
          <th>Total</th>
          <th><%= fitIndiaHr%></th>
        </tr>
      </table>
      <h4>educationForAll</h4>
      <table border="1px">
        <thead>
          <tr>
            <th>Event</th>
            <th>Hours</th>
          </tr>
        </thead>
        <tbody>
          <% educationForAllHr = 0 %>
          <% userDetails.eventsAttended.forEach(function(event) {  %>
            <% if (event.category == "educationForAll") { educationForAllHr+= event.hour %>
              <tr>
                <td><%= event.eventName %></td>
                <td><%= event.hour %></td>
              </tr>
            <% } %>
          <% }); %>
        </tbody>
        <tr>
          <th>Total</th>
          <th><%= educationForAllHr%></th>
        </tr>
      </table>
      <h4>animalWellfare</h4>
      <table border="1px">
        <thead>
          <tr>
            <th>Event</th>
            <th>Hours</th>
          </tr>
        </thead>
        <tbody>
          <% animalWellfareHr = 0 %>
          <% userDetails.eventsAttended.forEach(function(event) { %>
            <% if (event.category == "animalWellfare") { animalWellfareHr += event.hour %>
              <tr>
                <td><%= event.eventName %></td>
                <td><%= event.hour %></td>
              </tr>
            <% } %>
          <% }); %>
        </tbody>
        <tr>
          <th>Total</th>
          <th><%= animalWellfareHr%></th>
        </tr>
      </table>
      <h4>diasterManagement</h4>
      <table border="1px">
        <thead>
          <tr>
            <th>Event</th>
            <th>Hours</th>
          </tr>
        </thead>
        <tbody>
          <% diasterManagementHr = 0 %>
          <% userDetails.eventsAttended.forEach(function(event) { %>
            <% if (event.category == "diasterManagement") { diasterManagementHr+= event.hour %>
              <tr>
                <td><%= event.eventName %></td>
                <td><%= event.hour %></td>
              </tr>
            <% } %>
          <% }); %>
        </tbody>
        <tr>
          <th>Total</th>
          <th><%= userDetails.diasterManagementHr%></th>
        </tr>
      </table>
      <h4>greenInitiative</h4>
      <table border="1px">
        <thead>
          <tr>
            <th>Event</th>
            <th>Hours</th>
          </tr>
        </thead>
        <tbody>
          <% greenInitiativeHr = 0 %>
          <% userDetails.eventsAttended.forEach(function(event) { %>
            <% if (event.category == "greenInitiative") { greenInitiativeHr += event.hour%>
              <tr>
                <td><%= event.eventName %></td>
                <td><%= event.hour %></td>
              </tr>
            <% } %>
          <% }); %>
        </tbody>
        <tr>
          <th>Total</th>
          <th><%= greenInitiativeHr%></th>
        </tr>
      </table>
      <h4>clHr</h4>
      <table border="1px">
        <thead>
          <tr>
            <th>Event</th>
            <th>Hours</th>
          </tr>
        </thead>
        <tbody>
          <% clHr = 0 %>
          <% userDetails.eventsAttended.forEach(function(event) { %>
            <% if (event.category == "college") { clHr += event.hour %>
              <tr>
                <td><%= event.eventName %></td>
                <td><%= event.hour %></td>
              </tr>
            <% } %>
          <% }); %>
        </tbody>
        <tr>
          <th>Total</th>
          <th><%= clHr%></th>
        </tr>
      </table>
      <h4>university</h4>
      <table border="1px">
        <thead>
          <tr>
            <th>Event</th>
            <th>Hours</th>
          </tr>
        </thead>
        <tbody>
          <% universityHr = 0%>
          <% userDetails.eventsAttended.forEach(function(event) { %>
            <% if (event.category == "university") { universityHr += event.hour %>
              <tr>
                <td><%= event.eventName %></td>
                <td><%= event.hour %></td>
              </tr>
            <% } %>
          <% }); %>
        </tbody>
        <tr>
          <th>Total</th>
          <th><%= universityHr%></th>
        </tr>
      </table>
  <% } else { %>
    <p>No events attended.</p>
  <% } %>

  <h2>Events Organised</h2>
  <% if (userDetails.eventsOrganised.length > 0) { %>
    <h4>Fit India</h4>
    <table border="1px">
      <thead>
        <tr>
          <th>Event</th>
          <th>Hours</th>
        </tr>
      </thead>
      <tbody>
        <% fitIndiaHr = 0 %>
        <% userDetails.eventsOrganised.forEach(function(event) { %>
          <% if (event.category == "fitIndia") { fitIndiaHr += event.organisersHr %>
            <tr>
              <td><%= event.eventName %></td>
              <td><%= event.organisersHr %></td>
            </tr>
          <% } %>
        <% }); %>
      </tbody>
      <tr>
        <th>Total</th>
        <th><%= fitIndiaHr%></th>
      </tr>
    </table>
    <h4>educationForAll</h4>
    <table border="1px">
      <thead>
        <tr>
          <th>Event</th>
          <th>Hours</th>
        </tr>
      </thead>
      <tbody>
        <% educationForAllHr = 0 %>
        <% userDetails.eventsOrganised.forEach(function(event) { %>
          <% if (event.category == "educationForAll") { educationForAllHr +=  event.organisersHr %>
            <tr>
              <td><%= event.eventName %></td>
              <td><%= event.organisersHr %></td>
            </tr>
          <% } %>
        <% }); %>
      </tbody>
      <tr>
        <th>Total</th>
        <th><%= educationForAllHr%></th>
      </tr>
    </table>
    <h4>animalWellfare</h4>
    <table border="1px">
      <thead>
        <tr>
          <th>Event</th>
          <th>Hours</th>
        </tr>
      </thead>
      <tbody>
        <% animalWellfareHr = 0 %>
        <% userDetails.eventsOrganised.forEach(function(event) { %>
          <% if (event.category == "animalWellfare") { animalWellfareHr += event.organisersHr %>
            <tr>
              <td><%= event.eventName %></td>
              <td><%= event.organisersHr %></td>
            </tr>
          <% } %>
        <% }); %>
      </tbody>
      <tr>
        <th>Total</th>
        <th><%= animalWellfareHr%></th>
      </tr>
    </table>
    <h4>diasterManagement</h4>
    <table border="1px">
      <thead>
        <tr>
          <th>Event</th>
          <th>Hours</th>
        </tr>
      </thead>
      <tbody>
        <% diasterManagementHr = 0 %>
        <% userDetails.eventsOrganised.forEach(function(event) { %>
          <% if (event.category == "diasterManagement") { diasterManagementHr+= event.organisersHr %>
            <tr>
              <td><%= event.eventName %></td>
              <td><%= event.organisersHr %></td>
            </tr>
          <% } %>
        <% }); %>
      </tbody>
      <tr>
        <th>Total</th>
        <th><%= diasterManagementHr%></th>
      </tr>
    </table>
    <h4>greenInitiative</h4>
    <table border="1px">
      <thead>
        <tr>
          <th>Event</th>
          <th>Hours</th>
        </tr>
      </thead>
      <tbody>
        <% greenInitiativeHr = 0 %>
        <% userDetails.eventsOrganised.forEach(function(event) { %>
          <% if (event.category == "greenInitiative") { greenInitiativeHr += event.organisersHr%>
            <tr>
              <td><%= event.eventName %></td>
              <td><%= event.organisersHr %></td>
            </tr>
          <% } %>
        <% }); %>
      </tbody>
      <tr>
        <th>Total</th>
        <th><%= greenInitiativeHr%></th>
      </tr>
    </table>
    <h4>clHr</h4>
    <table border="1px">
      <thead>
        <tr>
          <th>Event</th>
          <th>Hours</th>
        </tr>
      </thead>
      <tbody>
        <% clHr = 0 %>
        <% userDetails.eventsOrganised.forEach(function(event) { %>
          <% if (event.category == "college") { clHr += event.organisersHr %>
            <tr>
              <td><%= event.eventName %></td>
              <td><%= event.organisersHr %></td>
            </tr>
          <% } %>
        <% }); %>
      </tbody>
      <tr>
        <th>Total</th>
        <th><%= clHr%></th>
      </tr>
    </table>
    <h4>university</h4>
    <table border="1px">
      <thead>
        <tr>
          <th>Event</th>
          <th>Hours</th>
        </tr>
      </thead>
      <tbody>
        <% uniHr = 0 %>
        <% userDetails.eventsOrganised.forEach(function(event) { %>
          <% if (event.category == "university") { uniHr += event.organisersHr %>
            <tr>
              <td><%= event.eventName %></td>
              <td><%= event.organisersHr %></td>
            </tr>
          <% } %>
        <% }); %>
      </tbody>
      <tr>
        <th>Total</th>
        <th><%= uniHr %></th>
      </tr>
    </table>
  <% } else { %>
    <p>No events organised.</p>
  <% } %>
  <div id="footer"></div>
</body>
</html>
