<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(function() {
          $("#header").load("/components/header.html");
      });
    </script>
</head>
<body>
  <div id="header"></div>
  
    <h1>Volunteers</h1>
    <input type="text" id="searchInput" placeholder="Search by VEC Number"><br><br>

    <table border="1px" class="userTable" id="userTable">
        <thead>
          <tr>
            <th>Vec</th>
            <th>Name</th>
            <th>Branch</th>
            <th>Sem </th>
            <th>fit India Hr</th>
            <th>education For All  Hours</th>
            <th>animal Wellfare Hours</th>
            <th>diasterManagementHr</th>
            <th>greenInitiativeHr</th>
            <th>clHr</th>
            <th>university Hrs</th>
            <th>Total Hours</th>
            <th>Detail</th>
          </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
          <tr>
            <td><%= user.vec %></td>
            <td><%= user.name %></td>
            <td><%= user.branch %></td>
            <td><%= user.sem %></td> 
            <td><%= getTotalHours(user, 'fitIndia') %></td>
            <td><%= getTotalHours(user, 'educationForAll') %></td>
            <td><%= getTotalHours(user, 'animalWellfare') %></td>
            <td><%= getTotalHours(user, 'diasterManagement') %></td>
            <td><%= getTotalHours(user, 'greenInitiative') %></td>
            <td><%= getTotalHours(user, 'college') %></td>
            <td><%= getTotalHours(user, 'university') %></td>
            <td><%= totalHours(user) %></td>
            <td><button onclick="showDetails('<%= user.vec %>')">Show Details</button></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    
      <% 
      function totalHours(user){
        let totalHours = 0;
        user.eventsAttended.forEach(event => {
          
            const hours = parseFloat(event.hours);
            if (!isNaN(hours)) { 
              totalHours += hours;
            }
          
        });
        user.eventsOrganised.forEach(event => {
          
            const hours = parseFloat(event.organisersHr); 
            if (!isNaN(hours)) { 
              totalHours += hours;
            }
          
        });
        return totalHours;
      }
      
      function getTotalHours(user, category) {
        let totalHours = 0;
        user.eventsAttended.forEach(event => {
          if (event.category === category) {
            const hours = parseFloat(event.hours);
            if (!isNaN(hours)) { 
              totalHours += hours;
            }
          }
        });
        user.eventsOrganised.forEach(event => {
          if (event.category === category) {
            const hours = parseFloat(event.organisersHr); 
            if (!isNaN(hours)) { 
              totalHours += hours;
            }
          }
        });
        return totalHours;
      } %>
      
</body>
<script>

    const searchInput = document.getElementById('searchInput');
    const userTable= document.getElementById('userTable')
    searchInput.addEventListener('input', function() {
    const searchText = searchInput.value.trim().toLowerCase();
    const rows = userTable.getElementsByTagName('tbody')[0].getElementsByTagName('tr');

    Array.from(rows).forEach(row => {
      const userid = row.cells[0].textContent.toLowerCase();

      if (userid.includes(searchText)) {
        row.style.display = '';
      } else {
        row.style.display = 'none';
      }
    });
  });

  function showDetails(userId){
    console.log(userId);
    window.location = window.location + "/"+ userId
  }

</script>
</html>