<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NSS FCRIT</title>
    <link rel="stylesheet" href="/style/userDisplay.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#userTable').DataTable({
                "paging": true,      // Enable pagination
                "pageLength": 10,   // Number of rows per page
                "lengthMenu": [5,10,15,25,100],
                "searching": false  // Disable search functionality
            });
        });
      $(function() {
          $("#header").load("/components/header.html");
          $("#footer").load("/components/footer.html");
      });
    </script>
</head>
<body>
    <div id="header"></div>
    <div class="container heading">
        <h1>Volunteer's List</h1>
        <div><a href="/admin/adduser" class="laptop" >Add Volunteer</a><a class="mobile" href="/admin/adduser" >Add</a></div>
        
      </div>
      <div class="container heading"><button id="downloadCSV" class="btn btn-primary">Download All Data</button></div>
    
    <div class="container">
        <div class="search-container">
            <input type="text" id="searchInput" class="form-control search-input" placeholder="Search by VEC Number">
            <label for="categoryFilter">Batch:</label>
            <select id="categoryFilter" class="form-select" onchange="applyCategoryFilter()">
                <option value="">All Volunteers</option>
                <option value="2022-2024">2022-2024</option>
                <option value="2023-2025">2023-2025</option>
            </select>
            
        </div>
        <table class="table user-table" id="userTable">
            <thead>
                <tr>
                    <th>VEC</th>
                    <th>Name</th>
                    <th>Branch</th>
                    <th>Sem</th>
                    <th>Fit India Hr</th>
                    <th>Education For All Hours</th>
                    <th>Animal Welfare Hours</th>
                    <th>Disaster Management Hr</th>
                    <th>Green Initiative Hr</th>
                    <th>CL Hr</th>
                    <th>University Hrs</th>
                    <th>Total Hours</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>
                <% users.sort((a, b) => totalHours(b) - totalHours(a)).forEach(user => { %>
                  <tr>
                    <td><%= user.vec %></td>
                    <td><%= user.name %></td>
                    <td><%= user.branch %></td>
                    <td><%= user.sem %></td>
                    <td><%= getTotalHours(user, 'fitIndia') %></td>
                    <td><%= getTotalHours(user, 'educationForAll') %></td>
                    <td><%= getTotalHours(user, 'animalWellfare') %></td>
                    <td><%= getTotalHours(user, 'disasterManagement') %></td>
                    <td><%= getTotalHours(user, 'greenInitiative') %></td>
                    <td><%= getTotalHours(user, 'college') %></td>
                    <td><%= getTotalHours(user, 'university') %></td>
                    <td><%= totalHours(user) %></td>
                    <td><button onclick="showDetails('<%= user.vec %>')" class="btn btn-primary">Show Details</button></td>
                  </tr>
                <% }); %>
              </tbody>
              
        </table>
    </div>
    <div id="footer"></div>

    <% 
    function totalHours(user){
        let totalHours = 0;
        user.eventsAttended.forEach(event => {
            const hours = parseFloat(event.hours);
            if (!isNaN(hours)) { 
                totalHours += hours;
            }
        });
        user.eventsOrganised.forEach(event => {
            const hours = parseFloat(event.organisersHr); 
            if (!isNaN(hours)) { 
                totalHours += hours;
            }
        });
        return totalHours;
    }
  
    function getTotalHours(user, category) {
        let totalHours = 0;
        user.eventsAttended.forEach(event => {
            if (event.category === category) {
                const hours = parseFloat(event.hours);
                if (!isNaN(hours)) { 
                    totalHours += hours;
                }
            }
        });
        user.eventsOrganised.forEach(event => {
            if (event.category === category) {
                const hours = parseFloat(event.organisersHr); 
                if (!isNaN(hours)) { 
                    totalHours += hours;
                }
            }
        });
        return totalHours;
    } %>
      
    <script>
        const searchInput = document.getElementById('searchInput');
        const userTable= document.getElementById('userTable')
        searchInput.addEventListener('input', function() {
            const searchText = searchInput.value.trim().toLowerCase();
            const rows = userTable.getElementsByTagName('tbody')[0].getElementsByTagName('tr');

            Array.from(rows).forEach(row => {
                const userid = row.cells[0].textContent.toLowerCase();

                if (userid.includes(searchText)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });

        function showDetails(userId){
            console.log(userId);
            window.location = window.location + "/"+ userId
        }

        function applyCategoryFilter() {
            const categoryFilter = document.getElementById('categoryFilter').value;
            const rows = document.querySelectorAll('tbody tr');
            rows.forEach((row) => {
                const category = row.querySelector('td:nth-child(5)').textContent;
                if (categoryFilter && category !== categoryFilter) {
                    row.style.display = 'none';
                } else {
                    row.style.display = 'table-row';
                }
            });
        }


        function convertToCSV(dataArray) {
        const csvRows = [];
        for (const row of dataArray) {
            const csvColumns = [];
            for (const cell of row) {
                csvColumns.push(`"${cell}"`);
            }
            csvRows.push(csvColumns.join(','));
        }
        return csvRows.join('\n');
    }

    function downloadCSV() {
        const table = document.getElementById('userTable');
        const rows = Array.from(table.getElementsByTagName('tbody')[0].getElementsByTagName('tr'));

        const dataArray = rows.map(row => {
            return Array.from(row.cells).map(cell => cell.textContent);
        });
        const headerRow = Array.from(table.getElementsByTagName('thead')[0].getElementsByTagName('th'));
        const headers = headerRow.map(th => th.textContent);
        dataArray.unshift(headers);
        const csvContent = convertToCSV(dataArray);
        const blob = new Blob([csvContent], { type: 'text/csv' });
        const url = URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.href = url;
        a.download = 'user_data.csv';
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
        URL.revokeObjectURL(url);
    }

    document.getElementById('downloadCSV').addEventListener('click', downloadCSV);
    </script>
</body>
</html>
