<!DOCTYPE html>
<html>
<head>
  <title>NSS FCRIT</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    $(function() {
      $("#header").load("/components/header.html");
      $("#footer").load("/components/footer.html");
    });
  </script>

  <link rel="stylesheet" href="/style/userDetails.css">
  
</head>
<body>
  <div id="header"></div>
  <div class="container mt-5">
    <h1>User Details</h1><br>

    <div class="row">
      <div class="col-md-6">
        <p>Vec: <%= userDetails.vec %></p>
        <p>Name: <%= userDetails.name %></p>
        <p>Branch: <%= userDetails.branch %></p>
        <p>DIV: <%= userDetails.div %></p>
        <p>SEM: <%= userDetails.sem %></p>
        <p>Contact No: <%= userDetails.contactNo %></p>
        <p>Name Of College: <%= userDetails.nameOfClg %></p> 
      </div>
      <div class="col-md-6">
        <p>DOB: <%= userDetails.dob.toLocaleDateString("en-GB") %></p>
        <p>Blood Group: <%= userDetails.bloodGroup %></p>
        <p>Gender: <%= userDetails.gender %></p>
        <p>Address: <%= userDetails.address %></p>
        <p>Year In Nss: <%= userDetails.yearInNss%></p>
        <p>Batch:<%= userDetails.batch%></p>
        <p>Camp Attended: <%= userDetails.campAttended %></p>
      </div>
      
    </div>
    <button onclick="confirmDelete(`<%= userDetails.vec %>`)" class="btn btn-danger">Delete Volunteer</button>
  </div>


  
  <div class="container mt-5">
   
  <% if (userDetails.eventsAttended.length > 0) { %>
    <h2>Events Attended</h2>
    <table class="table table-bordered tableHours">
      <thead>
        <tr>
          <th>Category</th>
          <th>Role</th>
          <th>Event</th>
          <th>Hours</th>
        </tr>
      </thead>
      <tbody>
      <% function displayCategoryTable(categoryName) { %>
        <% var totalHours = 0,totalEvent=1; %>
        <% userDetails.eventsAttended.forEach(function(event) { %>
          <% if (event.category === categoryName) { 

            totalHours += event.hour;
            totalEvent+=1;
          } %>
        <% }); %>
        <% userDetails.eventsOrganised.forEach(function(event) { %>
          <% if (event.category === categoryName) { 

            totalHours += event.organisersHr;
            totalEvent+=1;
          } %>
        <% }); %>
      
      
        <% if (totalHours > 0) { %>
              <td class='<%= categoryName%>' rowspan='<%= totalEvent%>'><%= categoryName %></td>
              <% userDetails.eventsAttended.forEach(function(event) { %>
                <% if (event.category === categoryName) { %>
                  <tr class='<%= categoryName%>'>
                    <td>Attended</td>
                    <td><%= event.eventName %></td>
                    <td><%= event.hour %></td>
                  </tr>
                <% } %>
              <% }); %>
              <% userDetails.eventsOrganised.forEach(function(event) { %>
                <% if (event.category === categoryName) { %>
                  <tr class='<%= categoryName%>'>
                    <td>Organised</td>
                    <td><%= event.eventName %></td>
                    <td><%= event.organisersHr %></td>
                  </tr>
                <% } %>
              <% }); %>

              
              <tr class="total">
                <th colspan="3" >Total</th>
                <th><%= totalHours %></th>
              </tr>
           
        <% } %>
      <% } %>

      <% displayCategoryTable("fitIndia") %>
      <% displayCategoryTable("educationForAll") %>
      <% displayCategoryTable("animalWellfare") %>
      <% displayCategoryTable("greenInitiative") %>
      <% displayCategoryTable("college") %>
      <% displayCategoryTable("university") %>
    </tbody>
  </table>
      <% } %>


  </div>
  
  <div id="footer"></div>
  <script>
    function confirmDelete(vec) {
    if (confirm("Are you sure you want to delete this volunteer?")) {
      deleteVol(vec);
    }
  }
    function deleteVol(vec){
      let data = {
        vec:vec
      }
      $.post("/admin/userDisplay/deleteVol", data, function (response) {
      if (response.success) {
        alert("Volunteer deleted successfully");
        window.location.href = "/userDisplay"; 
      } else {
    
        alert("Volunteer deletion failed: " + response.message);
      }
    });
    }
  </script>
</body>
</html>
